ME 564/.ipynb_checkpoints/Numerical Integration Example-checkpoint.ipynb
ME 564/.ipynb_checkpoints/HW#2 Eigen Values and Vectors-checkpoint.ipynb
ME 564/.ipynb_checkpoints/Exercise 4-4-checkpoint.ipynb
ME 564/.ipynb_checkpoints/Exercise 4-1_ Solving Non-Linear ODE-checkpoint.ipynb
ME 564/.ipynb_checkpoints/Exercise 2-3-checkpoint.ipynb
