ME 564/.ipynb_checkpoints/Numerical Integration Example-checkpoint.ipynb
ME 564/.ipynb_checkpoints/HW#2 Eigen Values and Vectors-checkpoint.ipynb
ME 564/.ipynb_checkpoints/Exercise 4-4-checkpoint.ipynb
ME 564/.ipynb_checkpoints/Exercise 4-1_ Solving Non-Linear ODE-checkpoint.ipynb
ME 564/.ipynb_checkpoints/Exercise 2-3-checkpoint.ipynb
ME 565/.ipynb_checkpoints/del2 Test-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Matrix indexing-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 3-3-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 3-2-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Color map testing-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 1-7 Complex Analysis-checkpoint.ipynb
ME 565/.ipynb_checkpoints/tic-toc-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 4-1b DFT Calculation Times-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 4-1a Fast Fourier Transform-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 4-3-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 4-2-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Looping through Arrays-checkpoint.ipynb
ME 565/.ipynb_checkpoints/Exercise 4-1-checkpoint.ipynb
